extends layout

block content
  .container.mt-5.text-center
    h1.mb-3 Journal App

    p.lead A clean and secure way to manage your thoughts.

    if !currentUser
      a.btn.btn-primary.mt-4(href="/login") Login
      a.btn.btn-outline-secondary.ms-3.mt-4(href="/register") Register
    else
      p.mt-4.text-muted Logged in as #{currentUser.username}
      a.btn.btn-success.mt-3(href="/journals/list") View Journals
      a.btn.btn-outline-danger.ms-3.mt-3(href="/logout") Logout

