extends layout

block content
  h1 Create Journal Entry

  form(action="/journals/create", method="POST")
    .mb-3
      label(for="title") Title:
      input.form-control(type="text", name="title", required)

    .mb-3
      label(for="author") Author:
      input.form-control(type="text", name="author", required)

    .mb-3
      label(for="content") Content:
      textarea.form-control(name="content", rows="4")

    button.btn.btn-success(type="submit") Create
    a.btn.btn-secondary.ms-2(href="/journals") Cancel
